{{ define "content" }}

<!-- Define all variables here -->
{{ $style := resources.Get "styles/games.scss" | resources.ToCSS | resources.Minify }}

<!-- Page-specific stylesheet --->
<link rel='stylesheet' href='{{ $style.Permalink }}' />

<!-- Load this partial so that we can determine what week to take the user to automatically -->
<div id='redirectAssistant' class='hide'>{{ len .Site.Data.games }}</div>

<!-- Now redirect the user to the page for that week -->
<script type='text/javascript' src='/scripts/gameRedirect.js'></script>

{{ end }}