<html>
	<head>
		<!-- Define all variables here -->
		{{ $style := resources.Get "styles/baseof.scss" | resources.ToCSS | resources.Minify }}

		<!-- Default metadata --->
		<meta charset='UTF-8'>
		<title>The Owl</title>

		<!-- Mobile scaling --->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- FontAwesome stylesheet --->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

		<!-- Base stylesheet --->
		<link rel='stylesheet' href='{{ $style.Permalink }}' />
	</head>

	<body>
		{{ partial "header" . }}
		{{ partial "menu" . }}

		{{ block "content" . }}
		{{ end }}

		{{ partial "footer" . }}

		<!-- Include all necessary scripts here -->
		<script type='text/javascript' src='/scripts/base.js'></script>
	</body>
</html>