{{ define "content" }}

	<!-- Define all variables here -->
	{{ $style := resources.Get "styles/postList.scss" | resources.ToCSS | resources.Minify }}

	<!-- Page-specific stylesheet --->
	<link rel='stylesheet' href='{{ $style.Permalink }}' />

	<div class='listContainer'>
		{{ range .Paginator.Pages }}

			{{ if ne ($.Scratch.Get "lastPostsDate") (.Date.Format "January 2 2006") }}
				<div class='postDate'>
					{{ .Date.Format "Monday, January 2, 2006" }}
				</div>
			{{ end }}
	
			{{ $.Scratch.Set "lastPostsDate" (.Date.Format "January 2 2006") }}

			<a class='postSmallTitle' href='{{ .URL }}'>{{ .Params.headline }}</a>
		{{ end }}
	</div>

{{ end }}