// ---------------- IMPORTS -------------------

@import 'foundation/general';
@import 'foundation/fonts';
@import 'foundation/colors';
@import 'foundation/responsive';
@import 'foundation/animations';

// ---------------- STYLES -------------------

#pageNavigator
{
	margin:
	{
		top: 30px;
		left: 10%;
	}

	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#prevNavigatorContainer, #nextNavigatorContainer
{
	flex: 1;
	display: inline-flex;
	align-items: center;
}

#prevNavigator, #nextNavigator
{
	@extend %sectionNavigationText;
	@include transitionSettings($property: box-shadow, $duration: 0.1s);

	border:
	{
		width: 1px;
		color: map-get($COLORS, blackTheme);
		radius: 15px;
		style: solid;
	}

	padding:
	{
		top: 5px;
		bottom: 5px;
		left: 10px;
		right: 10px;
	}

	box-shadow: 2px 2px 5px #000;

	&:focus
	{
		box-shadow: 1px 1px 3px #000;
	}

	& > i
	{
		margin:
		{
			left: 5px;
			right: 5px;
		}
	}
}

#prevNavigator
{
	text-align: left;
}

#nextNavigator
{
	text-align: right;
}