// ---------------- IMPORTS -------------------

@import 'foundation/general';
@import 'foundation/fonts';
@import 'foundation/colors';
@import 'foundation/responsive';

// ---------------- STYLES -------------------

.post
{
	margin:
	{
		top: 40px;
		bottom: 80px;
	}
}

.postTitle
{
	@extend %postTitle;

	width: 100%;
	text-align: center;
}

.headerUnderline
{
	display: inline-block;
	width: 100%;
	height: 2px;

	margin-bottom: 20px;

	background: linear-gradient(to right, map-get($COLORS, whiteTheme) 0%, map-get($COLORS, whiteTheme) 25%, map-get($COLORS, darkBlueTheme) 50%, map-get($COLORS, whiteTheme) 75%, map-get($COLORS, whiteTheme) 100%);
}

.postBody
{
	@extend %postBody;

	padding:
	{
		left: 10%;
		right: 10%;
	}
}

.postSeparator
{
	display: flex;
	align-items: center;
	justify-content: center;

	color: map-get($COLORS, lightGrayTheme);
	margin-top: 25px;

	& > img
	{
		margin:
		{
			left: 15px;
			right: 15px;
		}

		max-width: 30px;
		max-height: 30px;
	}
}