{{ define "content" }}

	<!-- Define all variables here -->
	{{ $style := resources.Get "styles/elo.scss" | resources.ToCSS | resources.Minify }}
	{{ $week := int .File.TranslationBaseName }}
	{{ $.Scratch.Set "dataCounter" 0 }}

	<!-- Page-specific stylesheet --->
	<link rel='stylesheet' href='{{ $style.Permalink }}' />

	{{ partial "weekDropdown" . }}

	<div id='eloChart'>

		<div id='eloChartHeader'>
			<span>Team</span>
			<span>ELO Score</span>
		</div>

		<div id='eloChartBody'>
			<!-- Cycle through all available ELO data until we find the data relevant to the week in context -->
			{{ range .Site.Data.elo }}
				{{ $.Scratch.Set "dataCounter" (add ($.Scratch.Get "dataCounter") 1) }}
				{{ if eq $week ($.Scratch.Get "dataCounter") }}
					<!-- Once we find the appropriate dataset to display, then we can display ELO scores -->
					{{ range .teams }}
						<div class='eloEntry'>
							<span>
								<span class='logoContainer'>
									<img class='teamLogo' src='/uploads/teamLogos/{{ lower .name }}.png' />
								</span>
								<span class='teamName'>
									<span>{{ .name }}</span>
									<span class='teamRecord'>({{ .wins }}-{{ .losses }})</span>
								</span>
							</span>
							<span>
								<span class='teamElo'>{{ .elo }}</span>
								<span class='eloDifferential'>
									{{ if gt (int .change) 0 }}
										<span class='positiveDifferential'>
											<i class='fas fa-arrow-circle-up'></i>{{ .change }}
										</span>
									{{ end }}
									{{ if lt (int .change) 0 }}
										<span class='negativeDifferential'>
											<i class='fas fa-arrow-circle-down'></i>{{ mul .change -1 }}
										</span>
									{{ end }}
								</span>
							</span>
						</div>
					{{ end }}
				{{ end }}
			{{ end }}
		</div>

	</div>

	<!-- Page-specific script -->
	<script type='text/javascript' src='scripts/elo.js'></script>

{{ end }}